- content_for :header do
  Round results

.alert.alert-success== Posted scores for #{@golfers.length} golfers

%ul.col-md-12.list-group
  - @golfers.each do |golfer, change|
    %li.list-group-item
      .col-md-1
        - if change == :up
          %span.glyphicon.glyphicon-arrow-up.red
        - elsif change == :down
          %span.glyphicon.glyphicon-arrow-down.green
        - else
          %span.glyphicon.glyphicon-placeholder
        %span.handicap_summary= golfer.handicap
      .golfer_summary= golfer.full_name_with_member_id

