// Place all the styles related to the golfers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tr.best_round td {
  font-weight: bold;
}

tr.ancient_history td {
  font-style: italic;
  color: #888;
}

.table>tbody>tr.history_line>td {
  border-top: 3px solid #000;
}

