.tableize {
  border: 1px solid #333;
}

input.shortnum {
  width: 30px;
}

.round-scores {
  border: 1px solid #222;
  padding: 5px 0;
}

input.changed {
  background: #31708f;
  color: #FFF;
}

input:focus {
  background: #31c596;
  color: #FFF;
}

.red {
  color: #f94442;
  font-size: 14px;
}

.green {
  color: #3c763d;
  font-size: 14px;
}

.glyphicon-placeholder {
  display: inline-block;
  width: 14px;
}

.handicap {
  display: inline-block;
  width: 20px;
  text-align: right;
  margin-right: 10px;
}

a[data-method="delete"] {
  color: #f94442;
}
