body {
  padding-top: 50px;
}

.fixed-add-rounds {
  padding: 20px 0;
  position: fixed;
  background: #FFF;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  width: 100%;
  margin-left: -15px;
  margin-top: -15px;
}

.fixed-rounds-container {
  padding-top: 90px;
}

.main {
  margin-top: 15px;
}

.tableize {
  border: 1px solid #333;
}

input.shortnum {
  width: 30px;
}

.round-scores {
  border: 1px solid #222;
}

input.changed {
  background: #31708f;
  color: #FFF;
}

input:focus {
  background: #31c596;
  color: #FFF;
}

.red {
  color: #f94442;
  font-size: 14px;
}

.green {
  color: #3c763d;
  font-size: 14px;
}

.glyphicon-placeholder {
  display: inline-block;
  width: 14px;
}

.handicap {
  display: inline-block;
  width: 20px;
  text-align: right;
  margin-right: 10px;
}

a[data-method="delete"] {
  color: #f94442;
}

.high-score {
  font-weight: bold;
}

.old-score {
  color: #888;
  font-style: italic;
}

.current-handicap {
}

.high-score-total {
  color: #888;
  font-style: italic;
  float: right;
}

.scrollable-table-container {
  margin-bottom: 20px;

  .table {
    margin-bottom: 0;
  }

  .scrollable-table {
    height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid #999;
  }

  td, th {
    &.round-date {
      width: 66%;
    }

    &.round-score {
      width: 17%;
    }
  }
}
